.page-header {
    padding: 2rem 0;
}
.help-container {
    max-width: 980px;
    margin: 0 auto;
    padding: 0;
}

nav {
    width: 100%;
}

.page-header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.help-container {
    position: relative;
    width: 100%;
    max-width: 1280px;
    z-index: 1;
    padding: 0 5rem;
    min-width: 0;
}

.page-header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: left;
    margin-right: 8rem;
}

.pd-b-10 {
    padding-bottom: 10rem;
}

.pd-t-10 {
    padding-top: 10rem;
}

.pd-t-6 {
    padding-top: 6rem;
}

h2 {
    line-height: 3rem;
    font-size: 2.8rem;
    margin-bottom: 1.42399rem;
    padding-top: 0.57601rem;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.section__headline {
    font: bold 3.5rem "Korolev", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 4rem;
}
.center {
    text-align: center;
}

.half-width--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.half-width {
    width: 50%;
}
.center {
    text-align: center;
}

.help-container:after {
    content: '';
    display: table;
    clear: both;
}

.section--light {
    padding-left: 2rem;
    padding-right: 2rem;
}

.section {
    width: 100%;
}

.section__headline {
    font: bold 3.5rem "Korolev", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 4rem;
}

.section h2 {
    font-family: "Korolev", "Helvetica Neue", Helvetica, sans-serif;
}

.section--dark .section__headline {
    color: #3b9cff;
}

.pd-b-1 {
    padding-bottom: 1rem;
}
.mg-b-1 {
    margin-bottom: 1rem;
}

.brick {
    padding: 1rem;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #efeef1;
    background-color: #1d1d1d;
}

.brick--theme-grey, .brick--block {
    border-color: #14189a;
}

.brick--pd-lg {
    padding: 2rem;
}

.float-left {
    float: left;
}

.strong {
    font-weight: 600;
}

.float-right {
    float: right;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.help-center-panel {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.slds-wrap {
    flex-wrap: wrap;
    align-items: flex-start;
}
.slds-grid {
    display: flex;
}

@media (min-width: 64em) {
    .slds-large-nowrap {
        flex: 1 1 auto;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}
@media (min-width: 48em) {
    .slds-medium-nowrap {
        flex: 1 1 auto;
        flex-wrap: nowrap;
        align-items: stretch;
    }
}

.siteforceContentArea .comm-layout-column:not(:empty) {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.guide {
    font-family: 'Helvetica Neue',Helvetica,Arial,Sans-Serif;
    margin: 0 auto;
}

.main-header {
    padding: 20px;
    padding-bottom: 0;
}

.bounding {
    padding: 20px;
}

.help-mg-b-12 {
    margin-bottom: 12px;
}

.help-text {
    margin-bottom: .75rem;
}

.help-ul {
    margin-left: 1.5rem;
    list-style: disc;
}

.top {
    margin: 10px 0!important;
    padding: 0 0 20px 0;
}

.help-header {
    background: rgba(21, 137, 238, 1)!important;
    font-weight: 700;
    padding: 10px!important;
    text-align: center!important;
}

.help-img {
    border: 2px solid #0070d2;;
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 20px auto 20px;
    max-width: 500px;
    width: auto;
}